################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DesafioWooza
/DesafioWooza/bin
/DesafioWooza/obj
/DesafioWoozaTest/obj
/DesafioWoozaTest/bin
